<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>GestionEmploye</servlet-name>
        <servlet-class>servlet.GestionEmploye</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionDevis</servlet-name>
        <servlet-class>servlet.GestionDevis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionOuvrier</servlet-name>
        <servlet-class>servlet.GestionOuvrier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionClient</servlet-name>
        <servlet-class>servlet.GestionClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceComptable</servlet-name>
        <servlet-class>servlet.ServiceComptable</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionEmploye</servlet-name>
        <url-pattern>/GestionEmploye</url-pattern>
        <url-pattern>/CreerEmploye</url-pattern>
        <url-pattern>/ListeEmploye</url-pattern>
        <url-pattern>/ModifierEmploye</url-pattern>
        <url-pattern>/SupprimerEmploye</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionDevis</servlet-name>
        <url-pattern>/GestionDevis</url-pattern>
        <url-pattern>/CreerDevis</url-pattern>
        <url-pattern>/ListeDevis</url-pattern>
        <url-pattern>/ModifierDevis</url-pattern>
        <url-pattern>/SupprimerDevis</url-pattern>
        <url-pattern>/ModifierEtat</url-pattern>
        <url-pattern>/ModifierEtatC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionOuvrier</servlet-name>
        <url-pattern>/GestionOuvrier</url-pattern>
        <url-pattern>/CreerOuvrier</url-pattern>
        <url-pattern>/ListeOuvrier</url-pattern>
        <url-pattern>/ModifierOuvrier</url-pattern>
        <url-pattern>/SupprimerOuvrier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionClient</servlet-name>
        <url-pattern>/GestionClient</url-pattern>
        <url-pattern>/CreerClient</url-pattern>
        <url-pattern>/ListeClient</url-pattern>
        <url-pattern>/ModifierClient</url-pattern>
        <url-pattern>/SupprimerClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceComptable</servlet-name>
        <url-pattern>/ServiceComptable</url-pattern>
        <url-pattern>/RelancerClient</url-pattern>
        <url-pattern>/ListeFacture</url-pattern>
        <url-pattern>/CreerFacture</url-pattern>
        <url-pattern>/ListeCommande</url-pattern>
        <url-pattern>/SolderCommande</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
</web-app>
